<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smiledon.own">

    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>


    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.smiledon.own.app.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.smiledon.own.ui.activity.BezierActivity"
            android:configChanges="keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.smiledon.own.ui.activity.RecyclerViewActivity"/>
        <activity android:name="com.smiledon.own.ui.activity.MapActivity"/>
        <activity android:name="com.smiledon.own.ui.activity.LoginActivity"/>
        <activity android:name="com.smiledon.own.ui.activity.WelcomeActivity"/>
        <activity android:name="com.smiledon.own.ui.activity.GuideRunActivity"
            android:exported="true"/>
        <activity android:name="com.smiledon.own.ui.activity.RunRecordActivity"/>
        <activity android:name="com.smiledon.own.ui.activity.WidgetActivity"/>
        <activity android:name="com.smiledon.own.ui.activity.AndroidSystemActivity"/>
        <activity android:name="com.smiledon.own.ui.activity.MineActivity"/>
        <activity android:name="com.smiledon.own.ui.activity.RxJavaActivity"/>
        <activity android:name="com.smiledon.own.ui.activity.OwnPlanActivity"/>
        <activity android:name="com.smiledon.own.ui.activity.EditPlanActivity"/>
        <activity android:name="com.smiledon.own.ui.activity.MPChartTwoActivity"/>
        <activity android:name=".ui.activity.WebSocketActivity" />
        <activity android:name="com.smiledon.own.ui.activity.UiActivity"/>
        <activity android:name="com.smiledon.own.ui.activity.MPChartActivity"/>
        <activity android:name=".ui.activity.HouseLoanActivity"
            android:configChanges="keyboardHidden"/>
        <activity android:name=".ui.activity.HouseLoanDetailActivity"
            android:screenOrientation="userLandscape"/>
        <activity android:name=".ui.activity.HouseLoanDetailKotlinActivity"
            android:screenOrientation="userLandscape"/>
        <activity android:name=".ui.activity.HeapActivity" />
        <activity android:name=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.NestScrollActivity" />
        <activity android:name=".ui.activity.CircularRevealActivity" />


        <service android:name=".service.OwnService"/>
        <receiver android:name=".receiver.OwnReceiver"/>
        <receiver android:name=".receiver.NetStatusReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <!--<action android:name="android.net.wifi.WIFI_STATE_CHANGED" />-->
                <!--<action android:name="android.net.wifi.STATE_CHANGE" />-->
            </intent-filter>
        </receiver>



        <service android:name="com.amap.api.location.APSService"/>
        <!--高德地图开发者申请的key-->
        <meta-data android:name="com.amap.api.v2.apikey" android:value="bb66922bf30703e185f069cea60f0b16"/>


    </application>

</manifest>